.header {
  background-color: #180f0f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  font-size: calc(50px + 2vmin);
  color: rgb(233, 32, 132);
}

.body {
  text-align: center;
}