#fh5co-course-categories,
#fh5co-counter,
#fh5co-course,
#fh5co-register,
#fh5co-pricing,
#fh5co-testimonial,
#fh5co-blog,
#fh5co-about,
#fh5co-staff,
#fh5co-contact,
#fh5co-footer {
    padding: 7em 0;
    clear: both;
}

@media screen and (max-width: 768px) {
    #fh5co-course-categories,
    #fh5co-counter,
    #fh5co-course,
    #fh5co-register,
    #fh5co-pricing,
    #fh5co-testimonial,
    #fh5co-blog,
    #fh5co-about,
    #fh5co-staff,
    #fh5co-contact,
    #fh5co-footer {
        padding: 3em 0;
    }
}

.banner {
    padding-left: 5vw;
    padding-top: 30vh;
}

.banner_text {
    margin-bottom: 30px;
}

.banner_button * {
    margin-left: 20px;
    width: 120px;
}

@media (max-width: 600px) {
    .banner {
        padding-top: 25vh;
    }
    .banner h2 {
        font-size: 25px;
    }
}

@media (max-width: 768px) {
    .banner {
        padding-top: 27vh;
    }
    .banner h2 {
        font-size: 30px;
    }
}

@media (max-height: 500px) {
    .banner {
        padding-top: 0vh;
    }
    .banner h2 {
        font-size: 20px;
    }
}

@media (max-width: 320px) {
    .banner {
        padding-top: 25vh;
        height: calc(100vh - 50px);
    }
    .banner h2 {
        font-size: 20px;
    }
    .banner_button * {
        margin-bottom: 20px;
    }
    .gotopbtn {
        left: calc(80vw - 10px);
        top: calc(90vh - 10px);
    }
    #fh5co-course-categories {
        margin: 0px;
        padding: 0px;
    }
}
#credit{
    font-size: 0px;
}
.services {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 40px;
    position: relative;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.services h3 {
    font-size: 18px;
    font-weight: 400;
}

.services h3 a {
    color: #000;
}

.services .icon {
    width: 150px;
    height: 150px;
    /* background: rgba(0, 0, 0, 0.04); */
    border: 5px solid grey;
    display: table;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

@media screen and (max-width: 992px) {
    .services .icon {
        margin: 0 auto 30px auto;
    }
}


/* .services .icon i {
  display: table-cell;
  vertical-align: middle;
  font-size: 40px;
  line-height: 40px;
  color: #000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.services:hover .icon,
.services:focus .icon {
  background: #2d6cdf;
}
.services:hover .icon i,
.services:focus .icon i {
  color: #fff;
} */

.services .icon img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}


/*.services .icon img:hover {
    /* transform: scale(1.1);
}
 */

.services .icon:hover {
    border: 5px solid crimson;
}

.fh5co-counters {
    padding: 7em 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
}

.fh5co-counters .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    background: rgba(0, 0, 0, 0.5);
}

.fh5co-counters .counter-wrap {
    border: 1px solid red !important;
}

.fh5co-counters .fh5co-counter {
    font-size: 44px;
    display: block;
    color: white;
    font-family: "Roboto Slab", serif;
    width: 100%;
    font-weight: 400;
    margin-bottom: 0.1em;
}

.fh5co-counters .fh5co-counter-label {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    margin-bottom: 2em;
    display: block;
    font-family: "Roboto Slab", serif;
}

.fh5co-counters .icon i {
    font-size: 45px;
    color: #fff;
}

.course {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    margin-bottom: 30px;
}

.course .desc,
.course .course-img {
    width: 50%;
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .course .desc,
    .course .course-img {
        width: 100%;
    }
}

.course .course-img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

@media screen and (max-width: 768px) {
    .course .course-img {
        height: 270px;
    }
}

.course .desc {
    padding: 1.7em;
    background: #fafafa;
}

.course .desc h3 {
    font-size: 18px;
    font-weight: 400;
}

.course .desc h3 a {
    color: #000;
}

.course .desc .date {
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
}

.course .desc .btn-course {
    border: 2px solid rgba(0, 0, 0, 0.8) !important;
    background: transparent;
    color: rgba(0, 0, 0, 0.8) !important;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 11px 15px !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}

.course .desc .btn-course:hover {
    background: rgba(0, 0, 0, 0.8) !important;
    color: white !important;
}

.course:hover .course-img {
    -webkit-box-shadow: inset -70px 0px 77px 11px rgba(0, 0, 0, 0.74);
    -moz-box-shadow: inset -70px 0px 77px 11px rgba(0, 0, 0, 0.74);
    box-shadow: inset -70px 0px 77px 11px rgba(0, 0, 0, 0.74);
}

.learn-header {
    text-align: center;
    padding: 5px;
    margin-top: 20px;
    font-size: 40px;
}