.fpassword{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fdiv{
    margin-top: 50px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4), 3px 3px 4px rgba(0, 0, 0, 0.4);
    padding: 20px;
}
.fheader{
  font-size: 35px;
  font-weight: 600;
}