*{
    margin: 0;
    padding: 0;
} /* normalizing  */

.mech__main{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    " . header . "
    " . topics .";
}

@media only screen and (max-width:1038px) {
    .mech__main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        " header . . "
        " . topics .";
    }
}
.mech__header{
    grid-area: "header";
    grid-column-start: 1;
    grid-column-end: span col2-start;
    grid-row-start: auto;
    align-self: stretch;
    justify-self: center;
    margin-top: 1em;
}
.mech__topics-card{
    padding: 3em;
    grid-area: "topics";
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2em;
    row-gap: 2em;
    transition: "opacity 350ms ease";
}
.a:hover{
    transform: scale(1.03);
    transition-duration:0.2s ;
    box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
  
}
