html {
  scroll-behavior: smooth;
}
body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.loadingdiv {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;

  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: shadeoff 3s ease;
}
.loadingimg {
  width: 500px;
  height: 500px;
  opacity: 0;
  animation: rotation 4s ease;
}

body.modal-open .modal {
  display: flex !important;
  height: 100%;
} 

body.modal-open .modal .modal-dialog {
  margin: auto;
}
@keyframes shadeoff {
  30% {
    background-color: rgba(106, 210, 232, 0.4);
  }
  50% {
    background-color: rgba(106, 210, 232, 0.6);
  }
  80% {
    background-color: rgba(106, 210, 232, 0.8);
  }
  100% {
    background-color: rgba(106, 210, 232, 1);
  }
}

@keyframes rotation {
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}
@media (max-width: 600px) {
  .loadingimg {
    width: 200px;
    height: 200px;
    animation: rotation 4s ease;
  }
}
@media (min-width: 1024px) {
  .loadingimg {
    width: 350px;
    height: 350px;
    animation: rotation 4s ease;
  }
}
@media (max-width: 320px) {
  .loadingimg {
    width: 200px;
    height: 200px;
    animation: rotation 4s ease;
  }
}
