.Calculator__main > div {
    width: 100% !important;
}

.Calculator__main {
    max-width: calc(100% - 12em);
}
.Calculator__calc hr {
    width: 400px !important;
    margin: 1em auto;
}



@media screen and (min-width: 813px) {
    .Calculator__calc .form-group {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Calculator__calc .button-custom-grp {
        width: 700px;
        display: flex;
        justify-content: space-between;
        margin: auto;
    }
    .Calculator__calc button {
        width: 325px;
    }
    .Calculator__calc .select-custom-res {
        width: 700px;
    }
    .Calculator__calc .form-group input {
        width: 700px !important;
    } 
    .Calculator__calc .energy-form input {
        width: 400px !important;
    } 
}

@media (min-width: 795px) and (max-width: 930px)  {
    #customInp {
        width: 300px !important;
    }
}