.solution{
    /* width:100vw; */
    padding: 10px 20px;
    border: 1px solid gainsboro;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.enternedValuesheading,.constantValuesheading{
font-weight: 800;
margin: 0px !important;
}

.enternedValues,.constantValues{
    margin-top: 0 !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap:10px;
    padding-bottom: 10px;
}

.finalSolution p{
    margin: 0px !important;

}

.formula , .result{
    font-weight: 800;
}