.contact-heading {
  text-align: center;
  margin: 20px 0 40px 0;
}
.contactMain {
  /* min-height: max-content; */
  /* max-height: max-content; */
  height: 90vh;
  width: 100%;
  /* filter: brightness(300%); */

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* flex-direction: row; */
}
.contactForm {
  width: 25%;
  height: 70%;
  /* background: var(--footer-bg-hex); */
  /* background-color: #2c3e50; */
  background: linear-gradient(180deg, #2c3e50 0%, rgba(0, 71, 142, 0.8) 100%);
  /* border-radius: 20px; */
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  flex-direction: column;

  padding: 5vh 5vh 10vh;
}
.contactForm > h2 {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  margin-top: 2vh;
}
.contactForm > *:is(input, textarea) {
  padding: 0.5vh 0.5vw;
  background-color: #6b78859d;
  transition: 0.15s;
  border: none;
  margin-bottom: 2vh;
  border-radius: 10px;
}
.contactForm > textarea {
  min-height: 8vh;
}
.contactForm > *:is(input, textarea):focus {
  outline: 2px cyan;
  border: none;
  background-color: #fff;
  /* border: none; */
}
.contactBTN {
  border: none;
  border-radius: 5px;
  margin-top: 4vh;
  text-align: center;
  display: grid;
  place-items: center;
  background-color: rgb(0, 255, 255);
  color: white;
  cursor: pointer;
  border: 2px solid cyan;
  position: relative;
  font-size: 1.1rem;
  font-weight: bold;
  transition: 0.25s ease-out;
}
.contactBTN:hover {
  background-color: #2c3e50;
  color: cyan;
}
.contactCircle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(124, 124, 124, 0.062);
}
/*.contactSVG {
  width: 48%;
  min-width: 400px;
  
   height: 70%; 
   background: var(--footer-bg-hex); 
  background-color: transparent;

  position: relative;
  display: flex;
   align-items: center; 
  justify-content: space-evenly;
  flex-direction: column;
padding: 20px;
   padding: 5vh 5vh 10vh; 
}*/
.contactInfo {
  font-size: 1.2rem;
  margin-top: 10px;
  display: flex;
  color: #2c3e50;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contactTXT {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 40px;
}

/* .contactTXT > h5 {
  font-size: 1.2rem;
  font-weight: normal;
  text-align: right;
}
.contactTXT > h1 {
  text-align: right;
  width: 100%;
} */
@media all and (max-width: 900px) {
  .contactMain {
    flex-direction: column;
    height: max-content !important;
  }
  .contactForm,
  .contactTXT {
    width: 90% !important;
  }
  .contactTXT{
    flex-direction: row;
  }
}
@media only screen and (max-width: 437px) {
  .contactTXT{
    flex-direction: row;
  }
  .contact-img {
    width: 300px;
  }
  .contactInfo {
    margin-left: 50px;
  }
}
