.learn-more {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 40px 100px;
  width: 100%;
}

.learn-more > article {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.learn-more ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  list-style: none;
  margin-top: 30px;
}

.learn-more ul li {
  align-items: center;
  background-color: white;
  border: 1px solid #e8e8e8;
  box-shadow: -3px -3px 7px #e6e6e673, 3px 3px 5px #e6e6e673;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 50px 30px 25px;
  position: relative;
  transition: background-color .3s ease;
  width: 250px;
}

.learn-more ul li img {
  height: 45px;
  width: 50px;
}

.learn-more ul li:hover {
  background-color: transparent;
}

.learn-more .list-computer ul a {
  background-color: cyan;
  border: 2px solid cyan;
  border-radius: 50%;
  color: #2c3e50;
  height: 40px;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  width: 40px;
}

.learn-more .list-computer ul li a:hover {
  background-color: white;
  border-color: cyan;
}

.learn-more ul li.science .dropdown .plus {
  background-color: #2c3e50;
  border: 2px solid #2c3e50;
  color: white;
  border-radius: 50%;
  height: 40px;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  width: 40px;
}

.learn-more ul li.science .dropdown:hover .plus {
  background-color: white;
  border-color: #2c3e50;
  color: #2c3e50;
}

.learn-more ul p {
  margin: 0;
}

.learn-more ul .topic {
  left: 0;
  padding: 3px 10px;
  position: absolute;
  top: 0;
}

.learn-more ul .computer-topic {
  background: cyan;
  color: #2c3e50;
}

.learn-more ul .science-topic {
  background-color: #2c3e50;
  color: white;
}

@media screen and (max-width: 992px) {
  .learn-more {
    flex-direction: column;
  }

  .learn-more > article {
    width: 100%;
  }

  .learn-more > article:first-child {
    margin-bottom: 60px;
  }

  .learn-more ul {
    justify-content: center;
  }
}

.learn-more ul li.science .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  border: 1px solid black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.learn-more ul li.science .dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.learn-more ul li.science .dropdown .dropdown-content a:hover {
  color: white;
  background-color: #2c3e50;
}

.learn-more ul li.science .dropdown:hover .dropdown-content {display: block;}
