.login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}
.loginmain {
  /* box-sizing: border-box; */
  flex: 0.6;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  /* background-color: bisque; */
  padding: 0px 0px 0px 20px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4), 3px 3px 4px rgba(0, 0, 0, 0.4);
  align-items: center;
}
.loginbtn {
  width: 250px;
}
.remem {
  margin-left: 10px;
}
.loginmain > form {
  flex: 4;
  display: flex;
  margin-left: 30px;
  flex-direction: column;
}
.loghead {
  font-size: 40px;
  font-weight: 600;
}
.logdiv {
  display: flex;
}
.logdiv > span {
  height: 100%;
  border-bottom: 2px solid black;
}
.logdiv > span > i {
  font-size: 20px;
  color: black;
  margin: 0;
  padding: 0;
}
.logdiv > span > i:hover {
  color: black;
  cursor: pointer;
}
.forminput {
  padding-left: 5px;
  background-color: transparent;
  border: none;
  width: 250px;
  outline: none;
  margin-bottom: 30px;
  border-bottom: 2px solid black;
}
.fontAwesome {
  font-family: "Helvetica", FontAwesome, sans-serif;
}
.forminput::placeholder {
  color: black;
  font-size: 20px;
  text-decoration: none;
}
figure {
  flex: 4;
}
.loginmain > figure > .figtext {
  /* position: relative; */
  margin-top: 5px;
  text-align: left;
  font-size: 12px;
  /* margin-right: 0px; */
}
.loginmain > figure > .figtext > a {
  text-decoration: none;
  color: blueviolet;
}
.logimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 750px) {
  .loginmain {
    min-width: 700px;
    margin-top: 20px;
    margin-top: 70px;
  }
}

@media (max-width: 750px) {
  .loginmain {
    flex: 1;
    width: 100%;
    padding: 40px 20px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
  }
  figure {
    flex: 6;
  }
  .loginmain > form {
    flex: 5;
    margin-left: 10px;
  }
}

@media (max-width: 600px) {
  .loginmain {
    flex: 1;
    padding: 0px 20px;
    flex-direction: column;
    width: 100% !important;
    margin-top: 60px;
    margin-left: 90px;
    margin-right: 90px;
  }
  .loghead {
    font-size: 30px;
  }
  figure {
    display: none;
    padding: 0px 20px;
  }
  .loginmain > form {
    flex: 1;
    margin-left: 20px;
    margin-top: 20px;
  }
  .forminput {
    margin-bottom: 50px;
  }
  .loginbtn {
    margin-bottom: 50px;
  }
  .check {
    margin-left: -130px;
  }
  .remem {
    margin-left: -120px;
  }
}
@media (max-width: 320px) {
  .loginmain {
    flex: 1;
    padding: 0px 20px;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 90px;
    margin-right: 90px;
  }
  .forminput {
    width: 150px;
  }
  .loginbtn {
    width: 170px;
  }
  .loghead {
    font-size: 25px;
  }

  .loginmain > form {
    margin-left: 60px;
    margin-right: 10px;
  }
  #Register {
    margin-top: -25px;
    font-size: small;
  }
  .check {
    margin-left: -80px;
  }
  .remem {
    margin-left: -70px;
  }
}
