.questions {
    margin: 0;
    padding: 0;
}

.main-div {
    display: flex;
}

.questions > h1 {
    text-align: center;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

.card-container {
    width:70%;
    padding: 1rem;
}

.filter-box {
    width:30%;
    margin-top: 1rem;
    height: 100%;
    margin-right: 1rem;
    background-color: #D0D0D0;
    border-radius: 5px;
}
.filter-box > div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 5px;
    font-weight: bold;
    background-color: #afafaf;
    border-radius: 5px;
}
.cancel{
    cursor: pointer;
}
.filter-box > span {
    display: inline-block;
    width: 100%;
    font-size: 1.5rem;
    padding-left: 4px;
    font-weight: bold;
    background-color: #afafaf;
    border-radius: 5px;
}
.filter-btn{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    z-index: 10;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #52CDE6;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
    display: none;
}
.fa-filter{
    color: white;
    font-size: 32px;
}
@media(max-width:600px)
{
    .filter-box{
        width: 100%;
        display: none;
    }
    .card-container{
        width: 100%;
    }
    .filter-btn{
        display: flex;
    }
}