.Calculator__main {
    margin: auto;
    padding: 3em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header" "image details " "formula-text . " "formula formula " " . . " " . . " "process calc ";
    row-gap: 3em;
    max-width: 100%;
}


/*.Calculator__header,
.Calculator__details,
.Calculator__formula-text,
.Calculator__calc,
.Calculator__process,
.Calculator__siunit,
.Calculator__dimension {
    width: 100% !important;
}*/


.Calculator__header {
    grid-area: header;
    align-self: center;
    text-align: center;
    font-size: 1.8em;
    color: #E84545;
    font-weight: 900;
}

.Calculator__details {
    grid-area: details;
    align-self: center;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    justify-self: start;
    padding-top: 0.8em;
    word-wrap: break-word;
    width: 30em;
}

.Calculator__formula-text {
    grid-area: formula-text;
    margin-top: 1em;
}

.Calculator__formula {
    grid-area: formula;
    font-family: cursive;
}

.Calculator__dimension {
    grid-area: formula;
    font-family: cursive;
    margin-top: 110px;
}

.Calculator__siunit {
    grid-area: formula;
    font-family: cursive;
    margin-top: 70px;
}

.Calculator__calc {
    grid-area: calc;
    margin-top: -400px;
    z-index: 100;
}

.Calculator__calc hr {
    width: auto;
    border: 1px dashed red;
}

.Calculator__calc h3 {
    font-size: 1.5em;
    font-weight: bold;
    color: #E84545;
    text-align: center;
}

.Calculator__process {
    grid-area: process;
    word-wrap: break-word;
    width: 37.5em;
    margin-top: -100px;
    font-size: 1.2rem;
    padding-right: 2vh;
}

@media only screen and (max-width: 992px) {
    .Calculator__main {
        grid-template-columns: 1fr;
        grid-template-areas: "header header" "image image" "details details" "formula-text formula-text " "formula formula " ".. .." ".. .." "process process " ".. .." ".. .." ".. .." ".. .." ".. .." ".. .." ".. .." ".. .." ".. .." "calc calc";
        row-gap: 3em;
    }
    
    .Calculator__header,
    .Calculator__details,
    .Calculator__formula-text,
    .Calculator__formula,
    .Calculator__calc h3,
    .Calculator__process,
    .Calculator__siunit,
    .Calculator__dimension {
        text-align: center;
        max-width: 100%;
    }
    .Calculator__formula h3,
    .Calculator__siunit h3,
    .Calculator__dimension h3 {
        margin-left: -20px;
    }
}

@media only screen and (max-width: 668px) {
    .Calculator__header,
    .Calculator__details,
    .Calculator__formula-text,
    .Calculator__formula,
    .Calculator__calc h3,
    .Calculator__process,
    .Calculator__siunit,
    .Calculator__dimension{
     
        max-width: 100%;
    }
    .Calculator__main {
        padding: 1.5rem;
    }
    .Calculator__calc hr {
        max-width: 100%;
    }
    .Calculator__details,
    .Calculator__process p {
        text-align: justify;
    }
    .Calculator__process {
        padding: 1rem;
    }
    input {
        width: 100%;
    }
    .Calculator__calc hr {
        width: 90%;
        margin: 20px auto 0px auto;
    }
    .Calculator__calc form {
        padding: 1rem;
    }
}