.momentumCalc__main {
    margin: 0em;
    padding: 3em;
    display: grid;
    grid-template-areas: "header header header header" " image image details details " "formula-text . . . " "formula formula formula formula" "process calc calc calc";
    row-gap: 3em;
    column-gap: 2em;
}

.momentumCalc__image {
    grid-area: image;
    justify-self: center;
}

.momentumCalc__image img {
    width: 30em;
    object-fit: contain;
    box-sizing: border-box;
    border-radius: 1em;
    border: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.momentumCalc__header {
    grid-area: header;
    align-self: center;
}

.momentumCalc__details {
    grid-area: details;
    align-self: center;
    font-size: 20px;
}

.momentumCalc__formula-text {
    grid-area: formula-text;
    margin-top: 1em;
}

.momentumCalc__formula {
    grid-area: formula;
    font-family: cursive;
}

.momentumCalc__calc {
    grid-area: calc;
    margin-top: -70px;
}

.momentumCalc__calc hr {
    width: auto;
    border: 1px dashed red;
}

.momentumCalc__process {
    grid-area: process;
}