.fa-book{
    color:#0a0a0a;
    margin-right: 10px;
    margin-left: 50px;
}

.fa-book:hover{
    color:#0a0a0a;
}

.nav-item:hover{
    text-decoration: none;
}

.navbar{
    margin-bottom: 10px;
}

.nav-item{
    display: flex;
    align-items: center;
}

.navbar-brand{
    padding: 0px;
    font-size: 30px;
    margin: 0;
    display: flex;
    align-items: center;
}

@media (min-width: 291px) and (max-width: 600px){
    .fa-book{
        display: none;
        margin-left: 10px;
    }
    .navbar-brand{
        font-size: 22px;
    }
    .navbar-brand img{
        height: 41px;
        width: 41px;
    }
}

@media (max-width: 320px) {
    .fa-book{
        display: none;
    }
    .navbar-toggler{
        margin: 0px;
        padding: 0px;
    }
    
    .navbar-brand{
        font-size: 20px;
    }
    .navbar-brand img{
        width: 32px;
        height: 32px;
    }
}

